<section id="new-idea">
  <h2>Add a New Idea</h2>
  <form class="new-idea-form">
    <label>Title</label>
    <input type="text" placeholder="Title" class="new-idea-title">
    <label>Body</label>
    <input type="text" placeholder="Body" class="new-idea-body">
    <input type="submit" value="Submit Your Great Idea">
  </form>
</section>

<section id="ideas">
  <!-- We'll put some more stuff here in a moment! -->
</section>
